body {
  margin: 0;
  overflow-x: hidden;
}

.labelCell {
    font-weight: bold;
    text-align: right;
}

.dateSuffix {
    color: #999;
    font-size: 12px;
}

.riskButton {
    display: inline-block;
    text-align: center;
    width: 4.4%;
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.1);
    font-size: 13px;
    padding-left: 0px;
    color: #fff;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.riskButton:hover {
    border-color: rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.3);
}

.strokeme {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    margin: 0 20px;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.pictureDetail {
    max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

/* animate flickr image entry */
div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay:50ms;
  animation-delay:50ms;
}

.flickr-img.au-enter {
  opacity: 0!important;
}

.flickr-img.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.flickr-img > a > img {
  width: 260px;
  height: 180px;
}

.fade-in {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Make clicks pass-through */
#nprogress .bar {
  background: #fff;
  z-index: 20031;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

/*#nprogress .spinner {
  top: 50%;
  right: 50%;
  margin-right: -9px;
  z-index: 20031;
}

#nprogress .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}*/
